torch>=1.4.0,<1.6.0
torchmeta>=1.4.6,<1.5.0
tqdm>=4.0.0
Brotli
certifi
charset-normalizer
h5py==3.11.0
idna
mkl-fft
mkl-random
mkl-service==2.4.0
numpy
ordered-set==4.1.0
pillow
PySocks
requests
torchvision==0.6
tqdm==4.66.4
typing_extensions
urllib3